<h1>Segmenting and Clustering Neighborhoods in Toronto Part 1<h1>

In [158]:
import urllib.request

In [159]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [160]:
page = urllib.request.urlopen(url)

In [161]:
from bs4 import BeautifulSoup

In [162]:
soup = BeautifulSoup(page, "lxml")

In [163]:
soup.title

In [164]:
soup.title.string

'List of postal codes of Canada: M - Wikipedia'

In [165]:
all_tables=soup.find_all("table")

In [166]:
right_table=soup.find('table', class_='wikitable sortable')

In [167]:
A=[]
B=[]
C=[]


for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [168]:
import pandas as pd
df=pd.DataFrame(A,columns=['PostalCode'])
df['Burough']=B
df['Neighborhood']=C
df

,PostalCode,Burough,Neighborhood
0,M1A\n,Not assigned\n,Not assigned\n
1,M2A\n,Not assigned\n,Not assigned\n
2,M3A\n,North York\n,Parkwoods\n
3,M4A\n,North York\n,Victoria Village\n
4,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
...,...,...,...
175,M5Z\n,Not assigned\n,Not assigned\n
176,M6Z\n,Not assigned\n,Not assigned\n
177,M7Z\n,Not assigned\n,Not assigned\n
178,M8Z\n,Etobicoke\n,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z\n,Not assigned\n,Not assigned\n

In [169]:
df.PostalCode.unique()
df = df.replace(r'\n',  ' ', regex=True)

In [175]:
df.head()

  PostalCode            Burough                                  Neighborhood
0       M3A         North York                                     Parkwoods
1       M4A         North York                              Victoria Village
2       M5A   Downtown Toronto                     Regent Park, Harbourfront
3       M6A         North York              Lawrence Manor, Lawrence Heights
4       M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government

In [176]:
counts = df['Burough'].value_counts()
counts

North York           24
Downtown Toronto     19
Scarborough          17
Etobicoke            12
Central Toronto       9
West Toronto          6
East Toronto          5
York                  5
East York             5
Mississauga           1
Name: Burough, dtype: int64

In [177]:
df =df[df.Burough != 'Not assigned ']

In [178]:
df.head(15)

,PostalCode,Burough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
13,M3C,North York,Don Mills
14,M4C,East York,Woodbine Heights

In [188]:
new_df=df.sort_values(by=['PostalCode'])
final1=new_df.reset_index(drop=True)

In [199]:
final1.tail()

    PostalCode     Burough                                       Neighborhood
98        M9N        York                                             Weston
99        M9P   Etobicoke                                          Westmount
100       M9R   Etobicoke   Kingsview Village, St. Phillips, Martin Grove ...
101       M9V   Etobicoke   South Steeles, Silverstone, Humbergate, Jamest...
102       M9W   Etobicoke                Northwest, West Humber - Clairville

In [190]:
import pandas as pd
df2=pd.read_csv(r'C:\Users\dwive\Downloads\Geospatial.csv')

In [191]:
df2

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [192]:
df3=df2.rename(columns={"Postal Code": "PostalCode"})

In [193]:
df3.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [202]:
df4=df3.drop(['PostalCode'], axis=1)

In [204]:
result = pd.concat([final1, df4], axis=1)

In [205]:
result

,PostalCode,Burough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054